<!DOCTYPE html>
<html>
<head>
    <title>Crear Habitación</title>
</head>
<body>
    <h1>Agregar Nueva Habitación</h1>
    
    <form action="/habitaciones" method="POST">
        <label>Número de Habitación:
            <input type="text" name="noHabitacion" required>
        </label>
        <button type="submit">Guardar</button>
    </form>

    <br>
    <a href="/habitaciones">← Volver al listado</a>
</body>
</html>